h1{
  text-align: center;
  font-family: "edu au vic wa nt hand", "sans-serif","arial", "arial black";
}
p{
  text-align: center;
  font-family: "sans-serif","arial", "arial black";
 
}
img{
  display: block;
  margin: 0 100px 0 100px;
  width: 50%;
  height: 50%;
  border: 5px solid #000000;
  border-radius: 10px;
  
  
 }
a {
  font-family: "edu au vic wa nt hand", "sans-serif","arial", "arial black";
  text-decoration: none;
  text-align: center;
  background-color: #ffc677;
  color: #000000;
  border: 2px solid #000000;
  padding: 0px 50px 0 50px;
  border-radius: 24px;
 margin: 5px 50px 0px 50px;
  cursor: pointer;
  width: 50%;
  display: block;
}
Body{
  background-color: #caf0fe;
}
